<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">  

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

        <div class="well">
            
            <h1>Nathans motors</h1>            
        </div>

        <div id="app">

            <div class="row">
                <!-- selected car details -->
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ selected.toString() }}
                        </div>

                        <div class="panel-body">
                            <img v-bind:src="selected.img" alt="" class="img-responsive">
                            <h4>
                                Year: {{ selected.year }}
                            </h4>
                            <h4>
                                Make: {{ selected.make }}
                            </h4>
                            <h4>
                                Model: {{ selected.model }}
                            </h4>
                        </div>
                    </div>

                </div>

                <!-- list of all available cars -->
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="(car, index) in showroom.cars">
                            {{ car.toString() }}

                            {{ car == selected ? '*' : '' }}

                            <button v-on:click="showroom.removeCar(index)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            

                            <button class="btn btn-xs btn-success pull-right" @click="setSelected(car)">
                                View details
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- Add the Vue.js dependency -->
    <script src="https://unpkg.com/vue"></script>
    <script>
        // Implement a vue.js app!
        // https://pastebin.com/VEnjWLpM


        function Car (make, model, year, img)
        {
            this.make = make;
            this.model = model;
            this.year = year;
            this.img = img;

            this.toString = function ()
            {
                return this.make + ' ' + this.model;
            }
        }

        function Showroom ()
        {
            this.cars = [];

            this.buildAndAddCar = function (make, model, year, img)
            {
                var car = new Car(make, model, year, img);
                this.addCar(car);
            }

            this.addCar = function (car)
            {
                this.cars.push(car);
            };

            this.removeCar = function (index)
            {
                this.cars.splice(index, 1);
            };
        }

        // now build our actual showroom!
        var showroom = new Showroom();
        showroom.buildAndAddCar('Porsche', '911', 2016, 'https://files.porsche.com/filestore/image/multimedia/none/991-2nd-gt2-rs-modelimage-sideshot/model/ed0a4842-451d-11e7-bfe2-0019999cd470/porsche-model.png');
        showroom.buildAndAddCar('Porsche', 'Cayman', 2015, 'https://files.porsche.com/filestore/image/multimedia/none/982-718-bo-detail-personalisation-exclusive718-xs/normal/7bc8bb2f-bf6e-11e5-8bd4-0019999cd470/porsche-normal.png');
        showroom.buildAndAddCar('Lambo', 'Pointy', 2013, 'https://www.lamborghini.com/en-en/sites/en-en/files/DAM/it/models_gateway/blocks/special.png');
        showroom.buildAndAddCar('Nissan', 'Micra', 1999, 'https://www.nissan-cdn.net/content/dam/Nissan/global/vehicles/micra_march/k14/0_all_new/color%20Picker/Medium/17tdieurhd_MICRA-Color_369_002.png.ximg.m_12_h.smart.png');


        var myApp = new Vue({
            el: '#app',
            data: {
                showroom: showroom,
                selected: showroom.cars[0]
            },
            methods: {
                setSelected: function (car)
                {
                    this.selected = car;
                }
            }
        });

    </script>

  </body>
</html>
